TELEGRAM_BOT_TOKEN=

# Ключ OpenAI API; Выдаётся по запросу; Используется командой /ai
OPENAI_API_KEY=
DEFAULT_LLM_MODEL=gpt-5.2
BIGGER_CONTEXT_LLM_MODEL=gpt-5.4

# Для локального тестирования значения могут быть любыми, docker compose использует эти же переменные
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=it-mentor-community-bot-database
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# https://t.me/zhukovsd_it_chat = IT Ментор | Чат
MAIN_CHANNEL_CHAT_ID=-1001782600970

# Приватный чат, доступ по запросу = IT Ментор | Менторство по трудоустройству
EMPLOYMENT_MENTORING_CHAT_ID=-1002060215031

# https://t.me/zhukovsd_projects_it_chat = IT Ментор | Работа над проектами
PROJECTS_GROUP_WORK_CHAT_ID=-1003604691156

# Приватный чат
# ID чата, куда пересылается сообщение содержащее ссылку на проект; Используется командой /addproject
# Можно указать несколько ID через запятую без пробелов, по аналогии с ADD_PROJECT_ALLOWED_USER_IDS
PROJECTS_REVIEWS_COLLECTION_CHAT_ID=-1002076574106

# Чат для необработанных ошибок
# Доступ по запросу при необходимости, любые ошибки все равно всегда логгируются
ERRORS_CHAT_ID=-1005334773717

# ID чатов, из которых доступна команда поиска вопросов для собеседований
SEARCH_INTERVIEW_QUESTIONS_COMMAND_CHAT_IDS=-1002060215031,-1002418801209,-1002253992092

# Список ID юзеров, которым разрешено пользоваться командой /addproject
# Указывается через запятую без пробелов, например: 322,511,987
ADD_PROJECT_ALLOWED_USER_IDS=1087968824,136817688

# Список ID юзеров, которым разрешено пользоваться командой обновления популярности вопросов
# Указывается через запятую без пробелов, например: 322,511,987
QUESTIONS_POPULARITY_UPDATE_ALLOWED_USER_IDS=197342870,69384081

# Доступ по запросу
MCP_SERVER_API_KEY=
MCP_SERVER_URL=

# Доступ по запросу
TEST_RUNNER_URL=
TEST_RUNNER_API_KEY=

# JSON-строка сервисного аккаунта Google (для доступа к Google API)
#
# ОБЯЗАТЕЛЬНО должна быть укзана одной строкой (без реальных переносов строк) - иначе .env не считается корректным
#
# Проще всего обернуть весь JSON в одинарные кавычки = '...'
#
# Пример:
#
# GOOGLE_SERVICE_ACCOUNT_JSON_KEY='{ "type": "service_account", "project_id": "", "private_key_id": "", "private_key": "", "client_email": "", "client_id": "", "auth_uri": "", "token_uri": "", "auth_provider_x509_cert_url": "", "client_x509_cert_url": "", "universe_domain": "" }'
GOOGLE_SERVICE_ACCOUNT_JSON_KEY=

# Управляет пересылкой сообщений пользователей в чат PROJECTS_REVIEWS_COLLECTION_CHAT_ID при использовании команды /addproject
# Любое значение кроме "true" считается "false" 
# Дефолт - false
SEND_PROJECTS_TO_CHAT=false

# ID копии таблицы "Проекты и ревью"
PROJECTS_REVIEWS_SPREADSHEET_ID=

# ID копии таблицы "Java методичка"
JAVA_INTERVIEW_COLLECTION_SPREADSHEET_ID=

# ID копии таблицы "Python методичка"
PYTHON_INTERVIEW_COLLECTION_SPREADSHEET_ID=

# Ваш форк https://github.com/zhukovsd/java-backend-interview-prep
INTERVIEW_PREP_SITE_REPO_OWNER=
INTERVIEW_PREP_SITE_REPO_NAME=java-backend-interview-prep

# Ваш форк https://github.com/zhukovsd/java-backend-learning-course
JAVA_BACKEND_COURSE_SITE_REPO_OWNER=
JAVA_BACKEND_COURSE_SITE_REPO_NAME=java-backend-learning-course

# Ваш форк https://github.com/zhukovsd/python-backend-learning-course
PYTHON_BACKEND_COURSE_SITE_REPO_OWNER=
PYTHON_BACKEND_COURSE_SITE_REPO_NAME=python-backend-learning-course

# Ваш форк https://github.com/zhukovsd/golang-backend-learning-course
GOLANG_BACKEND_COURSE_SITE_REPO_OWNER=
GOLANG_BACKEND_COURSE_SITE_REPO_NAME=golang-backend-learning-course

# Classic-токен авторизации GitHub-аккаунта бота, от имени которого создаётся PR в репозитории
GITHUB_COMMUNITY_BOT_ACCESS_TOKEN=

METRICS_USER=user
METRICS_PASS=password
# Любой не занятый порт для /metrics эндпоинта
METRICS_PORT=

COMMUNITY_BACKEND_INTEGRATION_ENABLED=true
COMMUNITY_BACKEND_INTEGRATION_ROOT_URL=
COMMUNITY_BACKEND_INTEGRATION_BASIC_AUTH_USERNAME=user
COMMUNITY_BACKEND_INTEGRATION_BASIC_AUTH_PASSWORD=password

# Уровень логирования (опционально)
# Дефолт - info
LOG_LEVEL=debug
